/*voor alle paginas*/

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Serif', serif;
}
main{
    /*background-color: red;*/
    min-height: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 600px;
    width: 65%;
    background-color: white;
    box-shadow: 0 0 10px 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow-y: scroll;
}
nav {
    width: 100%;
    height: 50px;
    background-color: white;
    align-items: center;
    display: flex;
}
nav ul {
    margin-left: auto;
}
nav ul li {
    display: inline-flex;
    list-style: none;
    margin-right: 2vh
}
nav a {
    font-size: 150%;
    text-decoration: none;
    color: black;
}
.dropdown {
    display: none
}
.home {
    color: #00B9FF;
    font-weight: bolder;
}
.portfolio {
    margin-left: 2%;
    font-family: 'Pacifico', cursive;
}

.index-text {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 420px;
    align-items: center;
}

section {
    height: auto;
    width: 50%;
}
section h1 {
    font-size: 250%;
}

section a {
    color: #00B9FF;
    text-decoration: none
}

.bol-1 {
    height: 250px;
    width: 250px;
    background-color: #00B9FF;
    margin-top: -130px;
    border-radius: 50%;
    margin-left: 9%;
}

.bol-2 {
    height: 250px;
    width: 250px;
    background-color: #00B9FF;
    border-radius: 50%;
    float: right;
    margin-top: -700px;
    margin-right: 9%
}

.foto-index {
    width: 50%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 5%
}

.foto-echt {
    height: 250px;
    width: 250px;
    background-image: url(../img/old-img/foto-selfie.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center
}

/*alles voor de pagina About*/
.about-wrapper {
    display: flex;
    margin-top: 100px;
    justify-content: flex-end;
    margin-right: 7.5%
}

.about-tekst {
    height: 300px;
    width: 20%;
    background-color: white;
    text-align: left;
    margin-right: 2%;
}

.foto-about {
    width: 50%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 5%;
}
/*alles voor de pagina contact*/
.contact-title {
    text-align: center;
    margin-top: 40px;
}

.contact-title h2 {
    width: 30%;
    border-bottom: 1.5px solid #00B9FF;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto
}

.contact {
    text-align: center;
}

form {
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}

.form-control {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1.5px solid;
    color: #00B9FF;
    margin-bottom: 16px;
}
input {
    height: 45px
}
form .submit {
    background: #00B9FF;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
}

@media only screen and (max-width: 1300px) {
    /*    alles voorde index pagina*/
    .foto-index {
        margin-left: 0%
    }
    .about-wrapper {
        display: flex;
        margin-top: 250px;
        justify-content: flex-end;
        margin-right: 0%;
    }
    .about-tekst {
        height: auto;
        width: 45%;
        background-color: white;
        text-align: left;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
    .foto-about {
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        margin-top: 25px;
        margin-left: 0
    }
    .foto-echt {
        height: 200px;
        width: 200px;
    }
}


@media only screen and (max-width: 1100px) {

    .content {
        display: inherit;
        overflow-y: scroll;
        height: 350px;
        background-color: white;
        margin-top: 50px;
    }
    .block-1 {
        margin-left: auto;
        margin-right: auto;
    }
    .block-2 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px
    }
    .block-3 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 825px) {
    /*    hier komen de regels voor de kleinere versie */

    /*Index pagina*/

    main{
        align-items: flex-start;
    }

    header {
        height: 90vh;
        width: 100%;
        background-color: white;
        box-shadow: none;
        margin-top: 0;
        position: absolute;
        overflow-y: revert ;
    }
    .header-work {
        height: 90vh;
        width: 100%;
        background-color: white;
        box-shadow: none;
        margin-top: 0px;
        position: absolute;
    }
    .index-text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        margin-top: 50px;
    }
    section {
        text-align: center;
        width: 100%;
        position: absolute;
        margin-top: 100px
    }
    .foto-index {
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%
    }
    .foto-echt {
        height: 200px;
        width: 200px;
        background-image: url(../img/old-img/foto-selfie.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    /*    alles voor about page*/
    .about-tekst {
        height: auto;
        width: 45%;
        background-color: white;
        text-align: left;
        margin-right: auto;
        margin-left: auto;
    }
    .about-wrapper {
        display: inherit;
        margin-top: 320.5px;
    }
    .foto-about {
        margin-top: 75px
    }
}

@media only screen and (max-width: 550px) {

    /*        alles voor de hamburger menu*/
    nav {
        background: white;
        width: 100%;
    }
    .portfolio {
        margin-left: auto;
    }
    nav ul li {
        display: none;

    }
    .dropbtn {
        background-color: red;
        color: white;
        border: none;
        height: 50px;
        width: 50px;
        background-image: url(../img/old-img/burgermenu.png);
        background-size: contain;
        background-position: center;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-top: -4px;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }


    /*        alles voor de index pagina*/

    .foto-index {
        margin-left: 0%;
    }

    .index-text{
        margin-top: 85px;
    }

    /*        alles voor de about page*/

    .about-tekst {

        height: auto;
        width: 45%;
        background-color: white;
        text-align: left;
        margin-right: auto;
        margin-left: auto;
    }
    .about-wrapper {

        display: inherit;
        margin-top: 320.5px;
        height: 400px;
    }
}